<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="org.eclipse.emf.ecore.diagnostic">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="es.uca.modeling.performance.sodmt.sprocess.diagram.diagnostic">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="org.eclipse.epsilon.evl.emf.validation.EvlMarkerResolutionGenerator"
            markerType="es.uca.modeling.performance.sodmt.scomp.diagram.diagnostic">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.epsilon.evl.emf.validation">
      <constraintsBinding
            constraints="evl/service_process.evl"
            modelName="Model"
            namespaceURI="www.uca.es/modeling/performance/sodmt">
      </constraintsBinding>
      <constraintsBinding
            constraints="evl/service_composition.evl"
            modelName="Model"
            namespaceURI="www.uca.es/modeling/performance/sodmt/scomp">
      </constraintsBinding>
   </extension>

</plugin>
