<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="ServiceAnalyzer"
            id="es.uca.webservices.service-analyzer.ui.commands.category">
      </category>
      <command
            name="Generate ServiceAnalyzer Catalog"
            categoryId="es.uca.webservices.service-analyzer.ui.commands.category"
            id="es.uca.webservices.service-analyzer.ui.commands.catalogFromFile">
      </command>
      <command
            categoryId="es.uca.webservices.service-analyzer.ui.commands.category"
            id="es.uca.webservices.service-analyzer.ui.commands.catalogFromURL"
            name="Generate ServiceAnalyzer Catalog from URL...">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="es.uca.webservices.service-analyzer.ui.commands.catalogFromFile"
            class="es.uca.webservices.wsdl.emf.ui.handlers.GenerateCatalogFromFileHandler">
         <enabledWhen>
            <reference
                  definitionId="es.uca.webservices.service-analyzer.ui.oneOrMoreWSDLs">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="es.uca.webservices.wsdl.emf.ui.handlers.GenerateCatalogFromURLHandler"
            commandId="es.uca.webservices.service-analyzer.ui.commands.catalogFromURL">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <command
               commandId="es.uca.webservices.service-analyzer.ui.commands.catalogFromFile"
               icon="icons/sample.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="es.uca.webservices.service-analyzer.ui.oneOrMoreWSDLs">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="es.uca.webservices.service-analyzer.ui.commands.catalogFromURL"
               icon="icons/sample.gif"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <command
               commandId="es.uca.webservices.service-analyzer.ui.commands.catalogFromFile"
               icon="icons/sample.gif"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="es.uca.webservices.service-analyzer.ui.oneOrMoreWSDLs">
               </reference>
            </visibleWhen>
         </command>
         <command
               commandId="es.uca.webservices.service-analyzer.ui.commands.catalogFromURL"
               icon="icons/sample.gif"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="es.uca.webservices.service-analyzer.ui.oneOrMoreWSDLs">
         <and>
            <count
                  value="+">
            </count>
            <iterate>
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="wsdl">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
