<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="es.uca.modeling.eol.marte.codegen.modisco.commands.category"
            name="SODM+T for MoDisco">
      </category>
      <command
            categoryId="es.uca.modeling.eol.marte.codegen.modisco.commands.category"
            id="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests"
            name="Generate Performance Tests">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.uca.modeling.eol.marte.codegen.modisco.handlers.GeneratePerformanceTestsHandler"
            commandId="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests">
         <enabledWhen>
            <reference
                  definitionId="es.uca.modeling.eol.marte.codegen.modisco.singleWeavingModelSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="es.uca.modeling.eol.marte.codegen.modisco.menu"
               label="SODM+T for MoDisco"
               mnemonic="S">
            <command
                  commandId="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests"
                  id="es.uca.modeling.eol.marte.codegen.modisco.menu.generatePerformanceTests"
                  mnemonic="S">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <reference
                     definitionId="es.uca.modeling.eol.marte.codegen.modisco.singleWeavingModelSelected">
               </reference>
            </visibleWhen>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="es.uca.modeling.eol.marte.codegen.modisco.menu"
               label="SODM+T for MoDisco"
               mnemonic="S">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="es.uca.modeling.eol.marte.codegen.modisco.singleWeavingModelSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.name"
                     value="*.modisco_perfreq">
               </test>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
