<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="es.uca.modeling.eol.marte.codegen.modisco.commands.category"
            name="SODM+T for MoDisco">
      </category>
      <command
            categoryId="es.uca.modeling.eol.marte.codegen.modisco.commands.category"
            id="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests"
            name="Generate Performance Tests">
      </command>
      <command
            categoryId="es.uca.modeling.eol.marte.codegen.modisco.commands.category"
            id="es.uca.modeling.eol.marte.codegen.modisco.analyzeThisProject"
            name="Analyze Java Project">
      </command>
      <command
            id="es.uca.modeling.eol.marte.codegen.modisco.weave"
            name="Weave Java and UML Models">
      </command>
   </extension>

   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="es.uca.modeling.eol.marte.codegen.modisco.handlers.GeneratePerformanceTestsHandler"
            commandId="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests">
         <enabledWhen>
            <reference
                  definitionId="es.uca.modeling.eol.marte.codegen.modisco.singleWeavingModelSelected">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="es.uca.modeling.eol.marte.codegen.modisco.handlers.AnalyzeJavaProjectHandler"
            commandId="es.uca.modeling.eol.marte.codegen.modisco.analyzeThisProject">
         <enabledWhen>
            <reference
                  definitionId="es.uca.modeling.eol.marte.codegen.modisco.singleJavaProject">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="es.uca.modeling.eol.marte.codegen.modisco.handlers.WeaveModelsHandler"
            commandId="es.uca.modeling.eol.marte.codegen.modisco.weave">
         <enabledWhen>
            <reference
                  definitionId="es.uca.modeling.eol.marte.codegen.modisco.javaAndUMLModel">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="es.uca.modeling.eol.marte.codegen.modisco.analyzeThisProject"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="es.uca.modeling.eol.marte.codegen.modisco.menu"
               label="SODM+T for MoDisco"
               mnemonic="S">
            <command
                  commandId="es.uca.modeling.eol.marte.codegen.modisco.commands.generatePerformanceTests"
                  id="es.uca.modeling.eol.marte.codegen.modisco.menu.generatePerformanceTests"
                  mnemonic="S"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="es.uca.modeling.eol.marte.codegen.modisco.singleWeavingModelSelected">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="es.uca.modeling.eol.marte.codegen.modisco.analyzeThisProject"
                  id="es.uca.modeling.eol.marte.codegen.modisco.menu.analyzeJavaProject"
                  mnemonic="J"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="es.uca.modeling.eol.marte.codegen.modisco.singleJavaProject">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="es.uca.modeling.eol.marte.codegen.modisco.weave"
                  id="es.uca.modeling.eol.marte.codegen.modisco.menu.weave"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="es.uca.modeling.eol.marte.codegen.modisco.javaAndUMLModel">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="es.uca.modeling.eol.marte.codegen.modisco.menu"
               label="SODM+T for MoDisco"
               mnemonic="S">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="es.uca.modeling.eol.marte.codegen.modisco.singleWeavingModelSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="modisco_perfreq">
               </test>
            </iterate>
         </and>
      </definition>
      <definition
            id="es.uca.modeling.eol.marte.codegen.modisco.singleJavaProject">
            <and>
               <count
                     value="1">
               </count>
               <iterate>
                  <or>
                     <instanceof
                           value="org.eclipse.jdt.core.IJavaProject">
                     </instanceof>
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IProject">
                        </instanceof>
                        <test
                              property="org.eclipse.core.resources.projectNature"
                              value="org.eclipse.jdt.core.javanature">
                        </test>
                        <test
                              property="org.eclipse.core.resources.open"
                              value="open">
                        </test>
                     </and>
                  </or>
               </iterate>
            </and>
      </definition>
      <definition
            id="es.uca.modeling.eol.marte.codegen.modisco.javaAndUMLModel">
         <and>
            <count
                  value="2">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="uml">
                  </test>
               </adapt>
            </iterate>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="javaxmi">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
