<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ant.core.antTasks">
      <antTask
            class="es.uca.modeling.ant.emfatic.EmfaticEcoreGeneratorTask"
            library="lib/serviceprocess.ant.jar"
            name="emfatic.generate">
      </antTask>
      <antTask
            class="es.uca.modeling.ant.gmfgen.GenerateFromGmfmapTask"
            library="lib/serviceprocess.ant.jar"
            name="gmfgen.fromGmfmap">
      </antTask>
   </extension>
   <extension
         point="org.eclipse.ant.core.extraClasspathEntries">
      <extraClasspathEntry
            library="lib/serviceprocess.ant.jar">
      </extraClasspathEntry>
   </extension>

</plugin>
