External Plug-in Libraries
junit-workspace
runtime-EclipseApplication
FilterByClassRule.java

*.iml
.idea
*.scomp.tests
*.sprocess.tests

log.roo
jetty.log
velocity.log

# LaTeX

*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.pdf
*.snm
*.toc
