<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            extraPackages="http://www.eclipse.org/papyrus/MARTE/1"
            file="ewl/inference.ewl"
            namespaceURI="http://www.eclipse.org/uml2/3.0.0/UML">
      </wizards>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="es.uca.modeling.eol.marte.tools.VSLTupleTool"
            defaultName="VSLTupleTool">
      </tool>
   </extension>
   <extension
         point="org.eclipse.epsilon.common.dt.tool">
      <tool
            class="es.uca.modeling.eol.marte.tools.GCTool"
            defaultName="GCTool">
      </tool>
   </extension>

</plugin>
