#set($generateSchedule = [["5A4ABP786P9MV5F03", "PPR-RM2", 88, "Pieces"], ["CM4XUOBFW2L37I1IJR", "PPR-RC2", 70, "Pieces"], ["T0824P", "PPR-RC4", 20, "Pieces"], ["L673M5Q4F", "PPR-RM4", 24, "Pieces"], ["O8", "PPR-RL2", 61, "Pieces"]])
