<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.epsilon.eol.eclipse.dt.launching.EolLaunchConfigurationDelegate">
<booleanAttribute key="fine_grained_profiling" value="false"/>
<listAttribute key="models">
<listEntry value="#&#10;#Fri Aug 03 18:50:48 CEST 2012&#10;isMetamodelFileBased=false&#10;name=GenModel&#10;readOnLoad=true&#10;storeOnDisposal=true&#10;aliases=&#10;cached=true&#10;fileBasedMetamodelUri=&#10;metamodelUri=http\://www.eclipse.org/emf/2002/Ecore,http\://www.eclipse.org/emf/2002/GenModel&#10;modelUri=platform\:/resource/es.uca.webservices.service-analyzer.emf/model/catalog.genmodel&#10;type=EMF&#10;modelFile=/es.uca.webservices.service-analyzer.emf/model/catalog.genmodel&#10;expand=true&#10;metamodelFile=&#10;"/>
</listAttribute>
<booleanAttribute key="profile_model_loading" value="false"/>
<booleanAttribute key="profiling_enabled" value="false"/>
<booleanAttribute key="reset_profiler" value="false"/>
<stringAttribute key="source" value="/es.uca.webservices.service-analyzer.emf/model/Ecore2GenModel.eol"/>
</launchConfiguration>
