<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated links -->
      <category
            id="es.uca.modeling.sodmt.wizards"
            name="%_UI_Wizard_category"/>
      <wizard
            id="es.uca.modeling.eol.marte.weaving.links.presentation.LinksModelWizardID"
            name="%_UI_LinksModelWizard_label"
            class="es.uca.modeling.eol.marte.weaving.links.presentation.LinksModelWizard"
            category="es.uca.modeling.sodmt.wizards"
            icon="icons/full/obj16/LinksModelFile.gif">
         <description>%_UI_LinksModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated links -->
      <editor
            id="es.uca.modeling.eol.marte.weaving.links.presentation.LinksEditorID"
            name="%_UI_LinksEditor_label"
            icon="icons/full/obj16/LinksModelFile.gif"
            extensions="modisco_perfreq"
            class="es.uca.modeling.eol.marte.weaving.links.presentation.LinksEditor"
            contributorClass="es.uca.modeling.eol.marte.weaving.links.presentation.LinksActionBarContributor">
      </editor>
   </extension>

</plugin>
