---
---

@import "{{ site.theme }}";

.pdf-slides {
    text-align: center;
}

.pdf-slides canvas {
    border: 1px solid black;
    width: 100%;
}

.pdf-slides button {
    margin: 0 .5em 0 .5em;
    padding: .5em;
}

.pdf-slides {
    margin-bottom: 1em;
}