<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="www.uca.es/modeling/performance/sodmt/scomp"
            class="serviceComposition.ServiceCompositionPackage"
            genModel="model/scomp.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <package
            uri="www.uca.es/modeling/performance/sodmt"
            class="serviceProcess.ServiceProcessPackage"
            genModel="model/scomp.genmodel"/>
   </extension>

</plugin>
