<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.epsilon.ewl.emf.wizards">
      <wizards
            file="ewl/wizards.ewl"
            namespaceURI="www.uca.es/modeling/performance/sodmt">
      </wizards>
      <wizards
            file="ewl/wizards.ewl"
            namespaceURI="www.uca.es/modeling/performance/sodmt/scomp">
      </wizards>
   </extension>

</plugin>
