<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.commands">
      <category
            name="SODM+T for WSDL"
            id="es.uca.modeling.eol.marte.codegen.wsdl.commands.category">
      </category>
      <command
            name="Weave WSDL and UML Models"
            categoryId="es.uca.modeling.eol.marte.codegen.wsdl.commands.category"
            id="es.uca.modeling.eol.marte.codegen.wsdl.commands.weaveModels">
      </command>
      <command
            categoryId="es.uca.modeling.eol.marte.codegen.wsdl.commands.category"
            id="es.uca.modeling.eol.marte.codegen.wsdl.generatePerformanceTests"
            name="Generate Performance Tests">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            commandId="es.uca.modeling.eol.marte.codegen.wsdl.commands.weaveModels"
            class="es.uca.modeling.eol.marte.codegen.wsdl.handlers.WeaveModelsHandler">
         <enabledWhen>
            <reference
                  definitionId="es.uca.modeling.eol.marte.codegen.wsdl.catalogAndUMLModel">
            </reference>
         </enabledWhen>
      </handler>
      <handler
            class="es.uca.modeling.eol.marte.codegen.wsdl.handlers.GeneratePerformanceTestsHandler"
            commandId="es.uca.modeling.eol.marte.codegen.wsdl.generatePerformanceTests">
         <enabledWhen>
            <reference
                  definitionId="es.uca.modeling.eol.marte.codegen.wsdl.singleWeavingModelSelected">
            </reference>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
            <menuContribution
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               id="es.uca.modeling.eol.marte.codegen.wsdl.menu"
               label="SODM+T for WSDL"
               mnemonic="W">
            <command
                  commandId="es.uca.modeling.eol.marte.codegen.wsdl.commands.weaveModels"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="es.uca.modeling.eol.marte.codegen.wsdl.catalogAndUMLModel">
                  </reference>
               </visibleWhen>
            </command>
            <command
                  commandId="es.uca.modeling.eol.marte.codegen.wsdl.generatePerformanceTests"
                  style="push">
               <visibleWhen
                     checkEnabled="false">
                  <reference
                        definitionId="es.uca.modeling.eol.marte.codegen.wsdl.singleWeavingModelSelected">
                  </reference>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu">
         <menu
               id="es.uca.modeling.eol.marte.codegen.wsdl.menu"
               label="SODM+T for WSDL"
               mnemonic="W">
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="es.uca.modeling.eol.marte.codegen.wsdl.singleWeavingModelSelected">
         <and>
            <count
                  value="1">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="org.eclipse.core.resources.IFile">
               </instanceof>
               <test
                     property="org.eclipse.core.resources.extension"
                     value="wsdl_perfreq">
               </test>
            </iterate>
         </and>
      </definition>
      <definition
            id="es.uca.modeling.eol.marte.codegen.wsdl.catalogAndUMLModel">
         <and>
            <count
                  value="2">
            </count>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="uml">
                  </test>
               </adapt>
            </iterate>
            <iterate
                  ifEmpty="false"
                  operator="or">
               <adapt
                     type="org.eclipse.core.resources.IFile">
                  <test
                        property="org.eclipse.core.resources.extension"
                        value="msgcat">
                  </test>
               </adapt>
            </iterate>
         </and>
      </definition>
   </extension>

</plugin>
